:root{
    --fs-h1:3.5em;
    --fs-h2:4.3em;
    --fs-h3:1.3em;
    --clr-str:#ffd012;
    --clr-main:black;
    --fw-bold:600;
    
    --clr-grey:#9b9b9bc0;
}
html{
    scroll-behavior: smooth;
    transition-duration:2s;
}

h2{  text-transform: capitalize;
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}



body{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    top:0;
    overflow-x:none;
}
nav ul{background-color: transparent; width:100vw;
    margin:0; 
    
    padding:2em 1em 1em 1em;
    display:inline-block;
    list-style-type: none;
}
ul li{
    font-weight:var(--fw-bold);
    display: inline;
    padding:0em 2em;
    transition:transform 200ms ease-in-out;
}
.logo{
    width:2em;
    height:3em;
}
#home{  width:30px;
    margin:0 auto;
}
nav ul li a:hover{
color: var(--clr-str);
}
a{
    text-decoration:none;
    color:whitesmoke;

}
.logo{
    color: white;
    font-size:2em;
    letter-spacing: 3px;
    margin-right:2em;
}
 ul li:hover{
   color: #ffd012;
   cursor: pointer;
}
/* .main{
    clip-path: polygon(0 40%, 100% 10%, 100% 100%, 0 100%);
    background:#0b44ffde;
    width: 100vw;
    height:100vh;
} */
.grid{background: url(20_stock_covid_unsplash_bw-1024x707.jpg);
   background-size:cover;
   background-repeat: no-repeat;
 width: 100vw;
 height: 120vh;
color: white;
   
    margin-top:0;
}
.hero__text{width: 550px;

margin:3em 3em 3em 65%;
}

h1{  margin:0em;
    line-height: normal;
    font-size: 5.3em;
    letter-spacing: 1px;
}



.text{
    margin: 2em 3em;
    line-height: 1.7em;
}
 
button{ margin:1.5em 1em 0em 0em;
    padding:1.4em 3.5em;
    background:white;
    border: transparent;border-radius: 3px;    
    animation-duration: 1s;
    font-weight: 600;
    transition:background-color  .5s ease-out 300ms;

}
button a{
    color: black; font-size: 1.1em;
}
.ylw{
    background-color:var(--clr-str);

    color: black; 
  
} .ylw a{
    background-color:transparent;
   
    color: black;
  
}

strong{
    color: var(--clr-str);
}
.ylw:hover,.ylw a:hover{
  background: black;color: white;
}
.trans:hover,.trans a:hover{
    background-color:#ffd012;
    color: black;
}
button:hover{
    cursor: pointer;
}
.nonprofit img{
    width: 210px;
    height: 100px;
    margin: 2em 3em;
    background: linear-gradient(black);
    transition:transform 200ms ease-in-out;
    background-color: beige;
}
.nonprofit img:hover{
    transform: scale(1.04);
}
.main
{
    background: #f3f5f7;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main h2{
    font-size: 3.4em;
   
}
.png,.material-icons{
    width: 50px;
}
.material-icons{
    padding: 30px;
    font-size: 2em;
    color: black;
}
.cnt1 {
    margin: 1em 2em;
}
.grid2{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:2em;
    color: grey;
    margin:6em 1em;
}
.grid2 span img:hover{
    transform:scale(1.2);
}
.grid2 div span{
    border-radius:50%;
    width:4.2em; transition: transform 200ms ease-out;
}
.grid2 div span:hover{
    transform: scale(1.05);
   
}
.grid2 h3{
    margin-top: 0em;
}
  .blck{
    color: white;
    background-color:black;    transition:background-color  1s ease-out 300ms;
}

.blck a{
    color: white;

}
.blck>a:hover{
    color: black;
}
.flex{ width:350px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: .2em;
    transition: box-shadow 300ms ease-in-out;
}
.flex img{
    width: 350px;
    height:290px;
}
.causes .grid2{
    gap:8em;
    margin-left:5em;
}
.flex:hover{
    box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.6),
    12px 12px 12px 0 rgba(0, 0, 0, 0.03);
transform: scale(1.05);
}
.bg{
    background:linear-gradient(#ffd012bb,#ffd012a9);
/*    background: url(_111278074_coronavirus_poster_index_2_promo_976.jpg);*/
/*    opacity: 0.8;*/
        
        
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    

}

 
footer ul li{
   list-style-type: none;
display: block;
margin: 1em 0em;
        background: linear-gradient(red,white);

}
footer ul{
margin: 1em 0em;
}
.fa{
    color: #808080;
    background-color: rgb(231, 249, 255);
    padding: 1em;    transition:all  2s ease-out 300ms;
}
.fa:hover{
    color: #ffd012;
    transform:scale(1.02);
}